@model IEnumerable<Ticket>

@{
    ViewData["Title"] = "Tickets";
}

<div class="text-center">
    <h1 class="display-4">Tickets</h1>
    <a class="btn btn-primary" asp-controller="Tickets" asp-action="Novo">Novo</a>
</div>

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome do cliente</th>
                <th>Placa do carro</th>
                <th>Marca do carro</th>
                <th>Modelo do carro</th>
                <th>Horário Entrada</th>
                <th>Local</th>
                <th>Valor Total</th>
                <th>Data Saída</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model){
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Veiculo.Cliente.Nome</td>
                    <td>@item.Veiculo.Placa</td>
                    <td>@item.Veiculo.Marca</td>
                    <td>@item.Veiculo.Modelo</td>
                    <td>@item.DataEntrada.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>@item.Vaga.CodigoLocalizacao</td>
                    <td>@item.ValorTotal(ViewBag.ValorDoMinuto).ToString("C", new System.Globalization.CultureInfo("pt-BR"))</td>
                    <td>@item.DataSaida?.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>
                        <form onsubmit="return confirm('Confirmar Pagamento?')" asp-route-id="@item.Id" asp-action="Pago" asp-controller="Tickets" method="post">
                            <button type="submit" class="btn btn-success">R$ Pago</button>
                        </form>
                    </td>
                    <td>
                        <form onsubmit="return confirm('Confirmar Exclusão?')" asp-route-id="@item.Id" asp-action="Apagar" asp-controller="Tickets" method="post">
                            <button type="submit" class="btn btn-danger">Excluír</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>